

.containerDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    background-image: url("../../images/d2fd77347a103bdf44215c1ab20a37d1.jpg");
    background-size: cover;
}
.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.containerDetails img {
    border-radius: 100%;
}

.details h1,h3 {
    color: #ffff;
}