.containerLoginPage {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-image:url("../../images/ImgForm.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}
  
  
.containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 325px;
    background-color:rgb(59, 59, 59);
    opacity: 0.5;
    border-radius: 5px;
}
  
.containerForm form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
  
  
.containerForm input{
    padding: 7px;
    margin-left:10px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: transparent;
    border-bottom:1px solid rgb(255, 255, 255);
    border-top: none;
    border-left: none;
    border-right: none;
}
  
.containerForm input:focus {
    outline: none;
}
  
.containerForm button {
    padding: 5px 40px;
    border-radius: 5px;
    border: 1px  solid #ffffff;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 15px;
    background-color: transparent;
}
  
label .icon {
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    padding: 0px;
}
  
.containerTextInput p {
    padding: 0;
    width: 200px;
    text-align: center;
    color: #e90000;
    font-weight: 500;
    text-shadow: 1px 1px rgb(105, 3, 3);
}