.containerAbout {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 90vh;
}

.containerAbout img {
   width: 500px;
   padding: 0px;
}
.containerAbout h1,h4 {
    color:aliceblue;
}


.containerAbout .imgfoto {
    width: 200px;
    padding: 0px;
    border-radius:100%;
 }