.searchaBar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
}
  
.inpSearch{
    width: 320px;
    border:none;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px ;
}
  
.searchaBar button {
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 490;
    border: none;
    background-color:#99f370;
    text-shadow: 1px 1px #b4f34e;
    color: #070707e3;
    box-shadow:1px 2px 2px #c7f8b0;
}
  
.searchaBar button:hover {
   background-color:#60ff17;
}