@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

body {
  margin: 0;
  font-family: 'Alkatra', cursive;
}
/* -------------------navBar------------*/
/* .navBar{
  background-color: #000000;
  padding: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.navBar a {
  text-decoration: none;
  color: #d8d4d4;
}

.navBar a:hover {
  color: #99f370;
}

.navBarNone {
  display: none;
} */
/* --------------SearchBar--------*/
/* .searchaBar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.inpSearch{
  width: 320px;
  border:none;
  border-radius: 5px;
  font-size: 1em;
  padding: 5px ;
}

.searchaBar button {
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 490;
  border: none;
  background-color:#99f370;
  text-shadow: 1px 1px #b4f34e;
  color: #070707e3;
  box-shadow:1px 2px 2px #c7f8b0;
}

.searchaBar button:hover {
  background-color:#60ff17;
} */
/*------------Cards------------- */
/* .containerCards {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding:10px;
} */
/* -----------------Cards--------------*/
/* .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d8d4d4;
  box-shadow: 1px 2px 1px #ebe4e4;
  border-radius: 5px;
  position: relative;
  height: 429px;
  width: 300px;
  margin: 5px;
}

img {
height: 429px;
  width: 300px;
}

.card h2 {
  font-size: 15px;
  padding: 5px;
  margin: 0px;
  position: absolute;
  top: 66%;
  left: 10%;
  background-color:  #79f1c3;
  border-radius: 5px;
  box-shadow: 1px 2px 1px #54b1b8;
  text-shadow: 1px 1px 3px #000000;
}
.card h2:hover {
    background-color: #30eba3;
  }


.card a {
  color: #fbf4fd;
  text-shadow: 1px 1px 1px black;
}

.info  {
  display: flex;
  justify-content: center;
  justify-content: space-around; 
}

.info h3 {
  margin: 0px 15px;
  padding: 40px 0px;
  color: #363535;
  text-shadow: 1px 2px 2px #858484;
}

.card button{
  position: absolute;
  left: 90%;
  top: 2%;
  padding: 3px 5px;
  border:none;
  color:  #fbf4fd;
  background-color:  #79f1c3;
  text-shadow: 1px 2px 3px #000000;
  border-radius:4px ;
  cursor: pointer;
}
.card button:hover{
  background-color: #1aee9d;
  font-size: 15px;
}  */
/* ----------deatails--------------*/
/* .containerDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerDetails img {
  border-radius: 100%;
}

/*-----------------------------------Login form------------------------*/

/* .containerLoginPage {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  background-image:url("./images/ImgForm.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
}


.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 325px;
  background-color:rgb(59, 59, 59);
  opacity: 0.5;
  border-radius: 5px;
}

.containerForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}


.containerForm input{
  padding: 7px;
  margin-left:10px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: transparent;
  border-bottom:1px solid rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
}

.containerForm input:focus {
  outline: none;
}

.containerForm button {
  padding: 5px 40px;
  border-radius: 5px;
  border: 1px  solid #ffffff;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 700;
  margin-top: 15px;
  background-color: transparent;
}

label .icon {
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  padding: 0px;
}

.containerTextInput p {
  padding: 0;
  text-align: center;
  color: #e90000;
  font-weight: 500;
  text-shadow: 1px 1px rgb(105, 3, 3);
} */